@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Seymour+One&display=swap');




:root{ /* Use variable for color to unify color styling throughout the website and edit faster*/
  --border-color: black;
  --bg-color-strong: rgb(20, 63, 107);
  --bg-color-light: rgb(183, 62, 62);
  --bg-color-lighest: rgb(178,170,79);
  --white-font: rgb(245, 245, 245);
  --shadow: rgba(0, 0, 0, 0.15); 
  --header-height: 72px;
  --font-family: Google Sans,arial,sans-serif;
  --main: #1184F0;
  --text: #FEFEFE;
  --contrast: darken($main, 10%);
}

body{
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
  color: var(--white-font);
  font-family: var(--font-family);
  height: 100vh;
  width: 100vw;
}

h3{
  border-bottom: 3px solid var(--white-font);
  padding: 16px 0px;
  text-align: center;
}

.top{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  background: var(--bg-color-strong);
  opacity: 0.9;
  box-shadow: 0 0 10px var(--shadow);
}

#title{
  display: contents;
}

#logo{
  padding: 15px;
}

header{
  color: white;
  background-image: url("/images/map.jpeg");
  background-size: cover;
  text-align: center;
}

#id01{
  display: flex;
  justify-content: space-evenly;
  font-size: large;
  height: 500px;
}

section{
  display: flex;
  justify-content: center;
}

.party-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.senator-no{
  font-size: 60px;
  text-align: center;
}

.leadersection{
  background: var(--bg-color-strong);
  opacity: 0.9;
  padding: 30px 0px 30px 0px;
}
#id04{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.leadercontainer{
  display: flex;
  justify-content: space-between;
}

.leadername{
  width: 49%;
  text-align: end;
  font-family: 'Glegoo', serif;
}

.noleader{
  font-family: 'Glegoo', serif;
}

.role{
  width: 49%;
  text-align: left;
  font-family: 'Glegoo', serif;
}

.table th{
  border-bottom: 1px solid var(--border-color);
  padding: 20px 10px 5px 10px;
  font-size: 18px
}

.table td{
  border-bottom: 1px solid var(--border-color);
  padding: 8px;
  text-align: center; 
}

#id05 td{
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  }


.senators{
  background-color: var(--bg-color-light);
  display: flex;
  box-shadow: inset 0 0 3rem var(--shadow);
}

.filter{
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 5px;
}

.form-control{
  border-radius: 3px;
  border-style: none;
}

.senators select{
  padding: 6px;
}

.senators p{
  font-size: 18px;
  font-weight: 400;
}

#allSenatorsTable {
  border-collapse: collapse; 
  width: 100%; 
  font-size: 18px; 
  border-radius: 6px;
}

#allSenatorsTable th{
  text-align: left; 
  padding: 10px 12px; 
}

#allSenatorsTable td {
  text-align: left; 
  padding: 8px 12px; 
}

#allSenatorsTable thead th {
  font-weight: bold;
  background-color: var(--bg-color-strong);
}

#allSenatorsTable tbody tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid var(--white-font);
  font-family: 'Glegoo', serif;
  font-size: 11px; 
}

#allSenatorsTable tbody tr:hover {
  border-bottom: 1px solid var(--white-font);
  background-color: var(--white-font);
  color: var(--bg-color-light);
}

@media screen and (max-width: 500px){ 
  #allSenatorsTable thead{
    display: none;
  }

  #allSenatorsTable, #allSenatorsTable tbody, #allSenatorsTable tr, #allSenatorsTable td{
    display: block;
    width: 100%;
  }

  .filter{
    display: block;
  }
}


.sidebar{
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0%;
  bottom: 20%;
  right: 0%;
  height: 100%;
  width: 50%;
  background: linear-gradient(to left, var(--bg-color-light), var(--bg-color-strong));
  opacity: 0.9;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    right: auto;
  }
}

.info{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.info-head{
  justify-content: center;
  width: 100%;
  display: flex;
}

.info-box{
  display: table-cell;
  flex-direction: column;
  width: 70%;
  padding-left: 10%;
  margin: 0;
}

.info-row{
  display: flex;
  align-items: left;
  gap: 10%;
}

.info-label{
  width: 20%;
}

.clicktohide{
  background-color:#D94A38;
  width:90px;
  height:20px;
  padding:40px;
}

#toggle{
  position: fixed;
  top: 0;
}