:root{ /* Use variable for color to unify color styling throughout the website and edit faster*/
  --border-color: black;
  --bg-color-strong: #1e2e53; 
  --bg-color-light: white;
  --shadow: rgba(0, 0, 0, 0.15); 
}

.table table{
  width: 100%;
  padding: 20px 20px 60px 20px;
  display: flex;
}

.table th{
  border-bottom: 1px solid var(--border-color);
  padding: 20px 10px 5px 10px;
  font-size: 18px
}

.table td{
  border-bottom: 1px solid var(--border-color);
  padding: 8px;
  text-align: center; 
}

#id05 td{
  cursor: pointer;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.senators{
  display: flex;
  background: var(--bg-color-light);
  box-shadow: inset 0 0 3rem var(--shadow);
}

.senators select{
  padding: 6px;
  margin-bottom: 10px;
}

.senators p{
  font-size: 18px;
  font-weight: 400;
}

#allSenatorsTable {
  border-collapse: collapse; 
  width: 100%; 
  border: 1px solid #ddd; 
  font-size: 18px; 
}

#allSenatorsTable th, #allSenatorsTable td {
  text-align: left; 
  padding: 12px 15px; 
}

#allSenatorsTable th {
  background-color: #6883BC;
  font-weight: bold;
}

#allSenatorsTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#allSenatorsTable tr:hover {
  background-color: #f1f1f1;
}